<!DOCTYPE html>
<html ng-app="reveal">
<head>
	<title>Revelações</title>
	<meta name="description" content="Aqui você pode revelar todos os seus segredos."/>
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
	<link rel="manifest" href="manifest.json">
	<link rel="stylesheet" type="text/css" href="css/grid12.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
	<script>

		if('serviceWorker' in navigator){

			console.log("OK")

			navigator.serviceWorker.register("worker.js");

		}

	</script>
</head>
<body>

	<div class="body" ng-controller="appController">

		<header>

			<h1 class="title">Revelações.</h1>

		</header>

		<div class="container">

			<div class="card post">

				<div class="row">

					<form ng-submit="addReveal(reveal);">

						<div class="col-sm-10">

							<textarea class="post" rows="5" placeholder="Digite aqui o seu segredo..." ng-model="reveal" /></textarea>

						</div>

						<div class="col-sm-2">

							<input class="post btn btn-primary" type="submit" value="Contar" />

						</div>

					</form>

				</div>

			</div>

			<div style="display: none;" ng-class="{'active': revealsOk}">

				<div class="divider">
					Revelações
				</div>

				<div class="card secret" ng-repeat="data in reveals | orderBy: '-date'">
					<div class="details">
						<span ng-bind="data.date | amDateFormat : 'DD/MM/YY'"></span> <span ng-bind="data.date | amDateFormat : 'HH:mm'"></span>
					</div>
					<p ng-bind="data.reveal"></p>
				</div>

			</div>

			<div style="display: block;" ng-class="{'no-active': revealsOk}">

				<div class="divider">
					Nada foi revelado até agora...
				</div>

			</div>

			<div style="display: none;" ng-class="{'no-active': offline}">

				<div class="divider">
					Sem conexão com a internet.
				</div>

			</div>

		</div>

	</div>

</body>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/moment.min.js"></script>
<script type="text/javascript" src="js/angular-moment.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
<script>
	var config = {
		apiKey: "AIzaSyBTsn0mC1E6Cf69T24ISxPw_LMbyIX3bnQ",
		authDomain: "revelacoes-9dc22.firebaseapp.com",
		databaseURL: "https://revelacoes-9dc22.firebaseio.com",
		projectId: "revelacoes-9dc22",
		storageBucket: "revelacoes-9dc22.appspot.com",
		messagingSenderId: "210976337838"
	};
	firebase.initializeApp(config);
</script>
</html>